<template name="header">
  <div>
    <ul>
      <li><a href="{{pathFor 'dashboard'}}">Qourse</a></li>
      <!--<li><a href="{{pathFor 'askQuestion'}}">Ask new question</a></li>-->
      <li>Search</li>
      <li><a href="{{pathFor 'allCourses'}}">Browse courses</a></li>
      {{> authHeader}}
    </ul>
  </div>
</template>

<template name="authHeader">
  {{#if currentUser }}
    <li>My profile ({{ currentUser.username }})</li>
    <li><a href="#" class="logout">Log out</a></li>
  {{else }}
    <li><a href="{{pathFor 'userLogin'}}">Log in / Sign up</a></li>
  {{/if}}
</template>
