<template name="header">
  <nav>
    
      <a href="{{pathFor 'dashboard'}}" class = "navButton left"><div class = "title">Qourse</div></a>
      <!--<li><a href="{{pathFor 'askQuestion'}}">Ask new question</a></li>-->
      {{> authHeader}}
      <a class = "navButton right">SEARCH </a>
      <a href="{{pathFor 'allCourses'}}" class = "navButton right">BROWSE COURSES</a>

  </nav>
</template>

<template name="authHeader">
  {{#if currentUser }}
    <!-- This is meant to be a drop down -->
    <a class="navButton right logout" href="#">LOG OUT</a>
    <a class="navButton right" href="{{pathFor 'userPage' username=currentUser.username}}">MY PROFILE ({{ currentUser.username }})</a>
  {{else }}
    <a href="{{pathFor 'userLogin'}}" class = "navButton right">LOGIN / SIGNUP</a>
  {{/if}}
</template>
