<template name="login">
    <div class = "row">
      <div class = "six columns">
        <form class="user-login user">
          <div class="row">
            <h1 id = "login">LOGIN</h1>

            <label for="loginUsername">USERNAME</label>
            <input class = "text" type="text" name="loginUsername" />

            <label for="loginPassword">PASSWORD</label>
            <input class = "text" type="password" name="loginPassword" />
          </div>
          <br>
          <input class="button-primary right" type="submit" name="submit" value="Log in">
        </form>
      </div>
    </div>

  <p>Don't have an account? <a id = "sign" href="{{pathFor 'userRegistration'}}">Sign up here.</a></p>
</template>
