<template name="register">
  <div class = "row">
    <div class = "six columns">
      <form class="user-register">
        <div class="row">
          <h1 id = "login">SIGN UP</h1>
          <label for="registerUsername">USERNAME</label>
          <input class = "text" type="text" name="registerUsername" />

          <label for="registerEmail">EMAIL</label>
          <input class ="text" type="email" name="registerEmail" />

          <label for="registerPassword">PASSWORD</label>
          <input class = "text" type="password" name="registerPassword" />
        </div>
        <input class="button-primary right" type="submit" name="submit" value="Register">
      </form>
    </div>
  </div>


  <p>Already have an account? <a id = "sign" href="{{pathFor 'userLogin'}}">Log in here.</a></p>
</template>
