<template name = "search">
  <div class = "row">
    <div class = "nine columns">
      <form class="search">
        <label for="search"><h2>Search for something</h2></label>
        <input class = "searchInput" type="text" name="search" placeholder="What are you looking for?"/>

      </form>
    </div>

    <div class = "three columns">
      <input class="button-primary " id = "submitSearch" type="submit" name="submit" value="submit"/>
    </div>
  </div>
<!-- something something results n shit -->


<!-- NOTE: pls add route bc idk how ty casey u da best. qasey qarries json & pita  -->
</template>