<template name="signup">
  <div class="row">
    <div>
      <h4>Sign Up</h4>
      <form id="signup"> class="signup">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" placeholder="">
        </div>

        <div class="form-group">
          <label for="emailAddress">Andrew Email</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="andrewId@*.cmu.edu">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="">
        </div>

        <div class="form-group">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</template>
