/*
=====================BASIC UTILITIES=====================
*/

.left{
  float: left;
}

.right{
  float:right;
}


.center{
text-align: center
}




/*
=====================NORMAL STUFF=====================
*/

body{
  background-color: #4FB5F7;
}

a:hover{
  color: #000;
  transition: color .5s;
}

main {
  margin-top: 6.5rem;
}

/*
=====================NAV BAR=====================
*/
nav{
  position:fixed;
  top:0;
  left:0;
  background-color: #fff;
  color: black;
  height: 6.5rem;
  width: 100%;
  z-index: 99;
  display: block;
}

.title{
  letter-spacing: .2em;
  font-size: 35px;
  line-height: 6.5rem;
  font-weight: 800;
  color: #4FB5F7;
}

nav a{
  color: #4FB5F7;
  text-decoration: none;
}

.navButton{
  margin-right: 25px;
  font-size: 10pt;
  line-height: 6.5rem;
  letter-spacing: .2rem
}



/*
=====================BODY=====================
*/

#main {
  background-color: #fff;
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.card{

}


/*
=====================FOOTER=====================
*/

#footer{
  height: 13rem;
  width: 100%;
  background-color: #fff;
}
#copyright{
  font-size: 10pt;
  padding-top: 4rem;
}

