/*
=====================BASIC UTILITIES=====================
*/

.left{
  float: left;
}

.right{
  float:right;
}


.center{
text-align: center
}


.full{
  height: 100vh;
  width: 100%;
  margin-top: -6.5rem;
}

.white{
  color: white;
}
.blue{
  color: #4FB5F7;
}


/*
=====================NORMAL STUFF=====================
*/

body{
  background-color: #4FB5F7;
  color: #000;
}

a{
  text-decoration: none;
}

a:hover{
  color: #000;
  transition: color .5s;
}

#content{
  margin-top: 13rem;
  margin-bottom: 6.5rem;
}
h2{
  color: white;
}



/*
=====================NAV BAR=====================
*/
div#mobile-nav{
  display:none;
}




nav{
  position:fixed;
  top:0;
  left:0;
  background-color: #fff;
  color: black;
  height: 6.5rem;
  width: 100%;
  z-index: 99;
  display: block;
  box-shadow: 0px 3px 10px 0px #333;
}

.title{
  letter-spacing: .2em;
  font-size: 35px;
  line-height: 6.5rem;
  font-weight: 800;
  color: #4FB5F7;
}

nav a{
  color: #4FB5F7;
  text-decoration: none;
}

.navButton{
  margin-right: 25px;
  font-size: 10pt;
  line-height: 6.5rem;
  letter-spacing: .2rem
}

form.new-question input.questionInput{
  background-color: #4FB5F7;
  border: solid white;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 3rem;
  font-size: 10pt;
}



form.new-question input:focus{
  border: solid #00DC8F;
  transition: border .5s;
}



form.new-question input::-webkit-input-placeholder {
  color: white;
}


#submitQ{
  font-weight: 100;
  letter-spacing: .2rem;
  padding: 5px;
  font-size: 10pt;
}

form.new-response label{
  color: white;
  font-size: 10pt;
}

form.new-response input.responseInput{
  background-color: #4FB5F7;
  border: solid white;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 3rem;
  font-size: 10pt; 
}
form.new-response input.responseInput:focus{
  border: solid #00DC8F;
  transition: border .5s;
}

span.label-body{
  font-size: 10pt;
  color: white;
  letter-spacing: .2rem;
}

label.askAnon{
  padding-top: 12.5px;
}


form.new-response input.responseInput::-webkit-input-placeholder {
  color: white;
}

.button-primary#submitQ{
  background-color: #00DC8F;
  font-size: 10pt;
  padding: 0px 30px 0px 30px;
}

.button-primary#submitQ:hover{
  background-color: #fff;
  color: #4FB5F7;
  transition: background-color 1s, color 1s;
}

.comment{
  color: black;
}

ul#profile li{
  margin-bottom: .5rem;
  font-size: 12pt;
}

img{
  width: 100%;
  height: auto;
}


input.searchInput{
  background-color: #4FB5F7;
  border: solid white;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 3rem;
  font-size: 10pt;
}

.button-primary#submitSearch{
    background-color: #00DC8F;
  font-size: 10pt;
  padding: 0px 30px 0px 30px;
}
.button-primary#submitSearch:hover{
 background-color: #fff;
  color: #4FB5F7;
  transition: background-color 1s, color 1s;
  
}


/*
=====================BODY=====================
*/

#main {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
  height: 100%;
}

.card{
  background-color: #fff;
  width: 100%;
  padding: 45px 30px 15px 30px;
  margin-right: 0px;
  margin-bottom: 3rem;
  display: inline-block;
  box-shadow: 0px 3px 20px 0px #333;
}

h4#question{
  line-height: 3rem;
}

p.question-description{
  font-size: 12pt;
}
p.delete{
  font-size: 18pt;
}

.details{
  font-size: 10pt;
  margin-bottom: 1.5rem;
}

.response{
  margin-top: 2rem;
  color: #fff;
}

form.user{
  /*background-color: white;*/
  height: 100%;
  width: 100%;
  /*padding: 30px 30px 100px 30px;*/
}

label{
  font-size: 10pt;
  color: white;
  letter-spacing: .2rem;
  font-weight: 100;
}
select{
  margin-bottom: 3rem;
  height: 50px;
}

input.text{
  width: 100%;
}
#login{
  letter-spacing: .2rem;
}

#sign{
  color: #00DC8F;
}

.responseCount{
  font-size: 10pt;
}


p.course-description{
  font-size: 10pt;
}

input.text {
  background-color: #4FB5F7;
  border: solid white;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 3rem;
  font-size: 10pt; 
}
input.text:focus{
  border: solid #00DC8F;
  transition: border .5s;
}
.button-primary#submit-login-register{
  background-color: #00DC8F;
  font-size: 10pt;
  padding: 0px 30px 0px 30px;
}

.button-primary#submit-login-register:hover{
  background-color: #fff;
  color: #4FB5F7;
  transition: background-color 1s, color 1s;
}


/*
=====================FOOTER=====================
*/

#footer{
  height: 13rem;
  width: 100%;
  margin-top: 1rem;
  background-color: #fff;

}
#copyright{
  font-size: 10pt;
  padding-top: 4rem;
  color: #4FB5F7;
}


#mostrecent{
  color: #fff;
}




/*
=====================MEDIA QUERIES=====================
*/
@media (max-width: 950px) {
  div#nav{
      display:none;
  }
  div#mobile-nav{
    display:inline-block;
    line-height: 6.5rem;
  }
  /* Dropdown Button */
.dropbtn {
    color: #4FB5F7;
    height: 6rem;
    font-size: 10pt;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1em;
}
img#menu{
  height: 2rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    left:auto;
    right:0;
    margin-right:-10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #4FB5F7;
    padding-left: 6px;
    text-decoration: none;
    display: block;


}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}




}
