/*
=====================BASIC UTILITIES=====================
*/

.left{
  float: left;
}

.right{
  float:right;
}


.center{
text-align: center
}


.full{
  height: 100vh;
  width: 100%;
  margin-top: -6.5rem;
}


/*
=====================NORMAL STUFF=====================
*/

body{
  background-color: #4FB5F7;
  color: #000;
}

a{
  text-decoration: none;
}

a:hover{
  color: #000;
  transition: color .5s;
}

#content{
  margin-top: 13rem;
  margin-bottom: 6.5rem;
}


/*
=====================NAV BAR=====================
*/
nav{
  position:fixed;
  top:0;
  left:0;
  background-color: #fff;
  color: black;
  height: 6.5rem;
  width: 100%;
  z-index: 99;
  display: block;
}

.title{
  letter-spacing: .2em;
  font-size: 35px;
  line-height: 6.5rem;
  font-weight: 800;
  color: #4FB5F7;
}

nav a{
  color: #4FB5F7;
  text-decoration: none;
}

.navButton{
  margin-right: 25px;
  font-size: 10pt;
  line-height: 6.5rem;
  letter-spacing: .2rem
}

form.new-question input{
  background-color: #4FB5F7;
  border: solid white;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 3rem;
  font-size: 10pt;
}

form.new-question input:focus{
  border: solid #00DC8F;
  transition: border .5s;
}



form.new-question input::-webkit-input-placeholder {
  color: white;
}


#submitQ{
  font-weight: 100;
  letter-spacing: .2rem;
  padding: 5px;
  font-size: 10pt;
}

form.new-response label{
  color: white;
  font-size: 10pt;
  margin-top: 3rem;
}

form.new-response input{
  background-color: #4FB5F7;
  border: solid white;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 3rem;
  font-size: 10pt; 
}
form.new-response input:focus{
  border: solid #00DC8F;
  transition: border .5s;
}



form.new-response input::-webkit-input-placeholder {
  color: white;
}


/*
=====================BODY=====================
*/

#main {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.card{
  background-color: #fff;
  width: 100%;
  padding: 35px 15px 35px 15px;
  margin-bottom: 10px;
}

#question{
  color: #4FB5F7;
}

.description{
  font-size: 10pt;
}

.response{
  margin-top: 2rem;
  color: #fff;
}

form.user{
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 30px 30px 100px 30px;
}

label{
  color: #4FB5F7;
  letter-spacing: .2rem;
  font-weight: 100;
}

input.text{
  width: 100%;
}
#login{
  color: #4FB5F7;
  letter-spacing: .2rem;
}

#sign{
  color: white;
}
/*
=====================FOOTER=====================
*/

#footer{
  height: 13rem;
  width: 100%;
  background-color: #fff;
}
#copyright{
  font-size: 10pt;
  padding-top: 4rem;
  color: #4FB5F7;
}


#mostrecent{
  color: #fff;
}