<template name="userItem">

  <div class = "card">

    <div class = "row">
      <div class = "four columns">
        <img src = "http://www.hey.fr/fun/emoji/android/en/android/661-emoji_android_tired_face.png"/>
      </div>


      <div class = "eight columns ">
        <h3 class = "blue"> {{ user.username }}'s profile</h3>

          <ul id = "profile">
            {{ genBio user }}
          </ul>
      </div>
    </div>
    
  </div>

  <div>
    <h3 class = "white">Questions Asked by {{ user.username }}</h3>
    {{#each userQuestions }}
      {{> questionListItem}}
    {{/each}}
  </div>

  <div>
    <h3 class="white">Responses Given by {{ user.username }}</h3>

    {{#each userResponses }}
      {{> commentItem }}
    {{/each }}
  </div>
</template>
