<template name="courseItem">
  <div class="section">
    <div class="row">
      <div class="course">
        <div class="course-content">
          <h3>{{courseNum}}: {{title}}</h3>
          <p>{{description}}</p>
          <p>Other things to include on this page</p>
          <ul>
            <li>FCE's</li>
            <li>Units</li>
            <li>Spring/Fall</li>
            <li>Questions related to this course</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 
  <div class="section">
    <div class="row">
        
    </div>
  </div>
</template>
