<template name="courseItem">
  <div class="row">
    <div class="col s12">
      <h4>{{item.courseNum}} : {{item.title}}</h4>
    </div>

    <div class="col s12 m6">
      <h5>About the Course</h5>
      <span>{{item.units}} Units</span>
      <span>Professors</span>
      <p>{{item.description}}</p>
      <span>FCE data</span>
    </div>

    <div class="col s12 m6">
      <h5>Related Questions </h5>
      {{> questionList}}
      <p>TODO(casey): Actually make it just questions related to the class</p>
    </div>

  </div>
</template>