<template name="newQuestionForm">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="question" type="text" class="validate">
          <label for="question">Question</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea"></textarea>
          <label for="description">Any additional thoughts?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="tags" type="text" class="validate">
          <label for="tags">Tags</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="checkbox" id="anon" />
          <label for="anon">Ask anonymously?</label>
        </div>
      </div>
    </form>
  </div>
</template>