<template name="questionItem">
  <div>
    <h4>{{ question.title }}</h4>
    <p>Asked by <a href="{{pathFor 'userPage' username=question.author}}">{{ question.author }}</a> at {{ question.time }}</p>
  </div>

  {{#if currentUser }}
    <div>
      <p>Answer this question</p>
      <form class="new-response">
        <label for="answer">Response</label>
        <input type="text" name="answer" placeholder="Type your response here"/>
      </form>
    </div>
  {{/if}}

  <div>
    <h4>Responses ({{ responseCount }})</h4>
    {{>commentList}}
  </div>

</template>
