<template name="questionItem">
  <div class = "card">
    <h4 id = "question" class = "blue">{{ question.title }}</h4>
    <p class = "question-description">{{ question.description }}</p>
    <p class = "details">Asked by <a href="{{ genUserURL question.author }}">{{ question.author }}</a> at {{ question.time }} <br />
    {{ genTags question.tags }} </p>
    
    <p class = "delete">{{#with question }}
      {{ showDelete }}
    {{/with}}
    </p>
  </div>

  {{#if currentUser }}
    <div>
      <form class="new-response">
        <label for="answer">Response</label>
        <input class = "responseInput" type="text" name="answer" placeholder="Type your response here"/>
        <div class = "row">
            <div class = "three columns">
              <input class="button-primary " id = "submitQ" type="submit" name="submit" value="submit"/>
            </div>
            <div class = "nine columns ">
              <label class="askAnon">
                <input type="checkbox" name="respAnon" id="anon"/>
                <span class="label-body">ASK ANONYMOUSLY</span>
              </label>
            </div>
          </div>
      </form>
    </div>
  {{/if}}

  <div class = "response" id="responses">
    <h4>Responses ({{ responseCount }})</h4>
    {{>commentList}}
  </div>

</template>
