<template name="questionList">
  {{#if currentUser }}
      <form class="new-question">
        <div class = "row">
          <div class = "twelve columns">
            <input class = "questionInput" type="text" name="question" placeholder="ASK A QUESTION..." />
            <input class = "questionInput" type="text" name ="description" placeholder= "ADD A DESCRIPTION..."/>
            <input class = "questionInput" type = "text" name= "tags" placeholder = "ADD TAG(S) [optional]"/>
          </div>
          <div class = "row">
            <div class = "three columns left">
              <input class="button-primary" id = "submitQ" type="submit" name="submit" value="submit"/>
            </div>
            <div class = "four columns">
              <label class="askAnon">
                <input type="checkbox"/>
                <span class="label-body">ASK AS ANONYMOUS</span>
              </label>
            </div>
          </div>
        </div>
        
      </form>
  {{/if}}


  <h3 id = "mostrecent">MOST RECENT QUESTIONS</h3>
    {{#each questions }}
      {{> questionListItem }}
    {{/each }}


</template>
