<template name="questionList">
  {{#if currentUser }}
      <form class="new-question">
        <div class = "row">
          <div class = "twelve columns">
            <input id = "newQ" type="text" name="question" placeholder="ASK A QUESTION..." />
            <input id = "description" type="text" name ="description" placeholder= "ADD A DESCRIPTION..."/>
          </div>
        <div class = "row">
          <div class = "ten columns">
            <input id = "tags" type = "text" name= "tags" placeholder = "ADD TAG(S) [optional]"/>
          </div>
          <div class = "two columns right">
            <input class="button-primary" id = "submitQ" type="submit" name="submit" value="submit">

          </div>
        </div>

        


        </div>
        
      </form>
  {{/if}}


  <h3 id = "mostrecent">MOST RECENT QUESTIONS</h3>
    {{#each questions }}
      {{> questionListItem }}
    {{/each }}


</template>
