<template name="questionList">
  {{#if currentUser }}
      <form class="new-question">
        <div class = "row">
          <div class = "twelve columns">
            <input id = "newQ" type="text" name="question" placeholder="Ask a question..." />
            <input id = "description" type="text" name ="description" placeholder= "Add a description..."/>
          </div>
        <div class = "row">
          <div class = "eight columns">
            <input id = "tags" type = "text" name= "tags" placeholder = "Add tag(s) [optional]"/>
          </div>
        </div>

        


        </div>
        
      </form>
  {{/if}}


  <h3 id = "mostrecent">MOST RECENT QUESTIONS</h3>
  {{#each questions }}
    {{> questionListItem }}
  {{/each }}
</template>
